<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usmwelead">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="USM WE LEAD"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.USMWELEAD">
        <activity android:name=".video"></activity>
        <activity android:name=".map" />
        <activity android:name=".Accommodation" />
        <activity android:name=".about" />
        <activity android:name=".attraction" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>